**/.build*/*
**/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
**/_build/
**/run_*.log
**/pdf/*
**/html/*
**/.settings/*
*.pyc
*.log
.*.swp
test_results.csv
**/.venv/**

# waf build files
.lock-waf_*
.waf-*/
build/
